POSTGRES_DB=whispre
POSTGRES_USER=whispre
POSTGRES_PASSWORD=whispre
POSTGRES_PORT=5432

REDIS_PORT=6379

KAFKA_BROKER=kafka:9092
KAFKA_EXTERNAL_PORT=9094

JWT_SECRET=dev-change-me
JWT_ALGORITHM=HS256
RATE_LIMIT_REQUESTS_PER_MINUTE=240
